<!DOCTYPE html>
<html>
<head>
    <title>Your Portfolio</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'projects' %}">Projects</a></li>
            <li><a href="{% url 'outreach' %}">Outreach</a></li>
            <li><a href="{% url 'art' %}">Art</a></li>
        </ul>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>